@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @Model.City!</h1>
    <h1 class="display-4">Choose who you are</h1>
    <form>
        <button style="
        width:400px;
        height:100px;
        font-size:300%;
        background-color: cadetblue;
        border: 3px solid black;
        font: bold 50px calibri;"
        class="btn btn-primary align-items-md-center" asp-page="/Forms/AddLocation">PERSON
        </button>
    </form>
    <p></p>
    <form>
        <button style="
        width:400px;
        height:100px;
        font-size:300%;
        background-color: cadetblue;
        border: 3px solid black;
        font: bold 50px calibri"
        class="btn btn-primary align-items-md-center" asp-page="/Forms/AddRestaurant">RESTAURANT
        </button>
    </form>
</div>
