@page
@model PSI_Food_waste.Pages.Forms.AddLocationModel
@{
    ViewData["Title"] = "Add Location";
}

<h1>Add Location</h1>
<form method="post">
    <input type="text" asp-for="UserLocation.City" placeholder="City"/>
    <input type="text" asp-for="UserLocation.Street" placeholder="Street"/>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
