@page
@model PSI_Food_waste.Pages.Forms.AddWorkerModel
@{
    ViewData["Title"] = "Restaurant login";
}
<h1>Restaurant login</h1>
<form method="post">
    <input type="text" asp-for="Restaurant.Name" placeholder="Restaurant name " />
    <input type="text" asp-for="Restaurant.Adress" placeholder="Restaurant adress " />
    <input type="text" asp-for="Restaurant.WorkerID" placeholder="Restaurant WorkerID " />
    <button type="submit">
        Submit
    </button>
</form>
