@page
@model PSI_Food_waste.Pages.Forms.AddWorkerModel
@{
    ViewData["Title"] = "Restaurant login";
}
<h1>Add a worker</h1>

<form style="
        width:1200px;"
            method="post" class="card p-3">
    <div class="row">
        <div asp-validation-summary="All">
        </div>
    </div>
    <div style="
        width:1500px;"
            class = "form-group mb-0 align-middle">
        <label asp-for="NewRestaurant.Title">Name</label>
        <input type="text" asp-for="NewRestaurant.Title" class="mr-5">

        <label asp-for="NewRestaurant.City">City</label>
        <select style="width:100px;"
        name="NewRestaurant.City" id="NewRestaurant.City">
            <option value="Vilnius">Vilnius</option>
            <option value="Kaunas">Kaunas</option>
            <option value="Klaipeda">Klaipeda</option>
            <option value="Panevežys">Panevežys</option>
            <option value="Šiauliai">Šiauliai</option>
        </select>

        <label asp-for="NewRestaurant.Adress">Adress</label>
        <input type="text" asp-for="NewRestaurant.Adress" class="mr-5">

        <label asp-for="NewRestaurant.WorkerID">WorkerId</label>
        <input type="number" asp-for="NewRestaurant.WorkerID" class="mr-5" />


        <button class="btn btn-primary">Submit</button>
    </div>
</form>
