@page
@model PSI_Food_waste.Pages.Forms.EditProductModel
@using PSI_Food_waste.Models
@{
    ViewData["Title"] = "EditProduct";
}


<h1>Edit</h1>
<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Product.ProductId" />
            <div class="form-group">
                <label asp-for="Product.SupplierId" class="control-label"></label>
                <input readonly asp-for="Product.SupplierId" class="form-control" />
                <span asp-validation-for="Product.SupplierId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Name" class="control-label"></label>
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Size" class="control-label"></label>
                <select asp-for="Product.Size" asp-items="Html.GetEnumSelectList<ProductSize>()" class="form-control"></select>
                <span asp-validation-for="Product.Size" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Product.IsGlutenFree" /> @Html.DisplayNameFor(model => model.Product.IsGlutenFree)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Product.Price" class="control-label"></label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.DiscountedPrice" class="control-label"></label>
                <input readonly asp-for="Product.DiscountedPrice" class="form-control" />
                <span asp-validation-for="Product.DiscountedPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Discount" class="control-label"></label>
                <input asp-for="Product.Discount" class="form-control" />
                <span asp-validation-for="Product.Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./RestaurantVerified" asp-route-id="@Model.Product.SupplierId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
