@page
@using PSI_Food_waste.Models
@model PSI_Food_waste.Pages.Forms.LoginScreenModel
@{
}

<h1>login screen</h1>
@*<form method="post" class="card p-3">
    <div class="card align-items-start">
        <label>Username</label>
        <input type="text" class="mr-1">
        <label>Password</label>
        <input type="password" class="mr-0">
    </div>
</form>*@
<form class="form-horizontal" method="post">
    <div class="row">
        <div asp-validation-summary="All"></div>
    </div>
    <div class="form-group">
        <label asp-for="NewUser.Username" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-3">
            <input type="text" asp-for="NewUser.Username"class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label asp-for="NewUser.Password" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-3">
            <input type="password" asp-for="NewUser.Password" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-10 col-sm-2">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </div>
</form>
