@page
@model PSI_Food_waste.Pages.Forms.RestaurantListModel
@{
}
<h2>Restaurants available</h2>


    <table class="table mt-5">
        <thead>
           <tr>
               <th scope="col">Restaurant name</th>
               <th scope="col">Restaurant adress</th>
               <th scope="col">See products</th>
           </tr>
        </thead>
        @foreach (var restaurant in Model.restaurants)
    {
        <tr>
            <td>@restaurant.Title</td>
            <td>@restaurant.Adress</td>
            <td>
                <form method="post" asp-page-handler="Select" asp-route-id="@restaurant.Id">
                    <button  class="btn btn-primary">Select</button>
                </form>
             </td>
        </tr>
    }
    </table>
