@page
@model PSI_Food_waste.Pages.Forms.RestaurantLogin
@{
    ViewData["Title"] = "Restaurant login";
}
<h1>Restaurant login</h1>
<form method="post">
    <input type="text" asp-for="Restaurant.Username" placeholder="Restaurant" />
    <input type="password" asp-for="Restaurant.Password" placeholder="Password" />
    <button type="submit">
        Submit
    </button>
</form>
