@page
@model PSI_Food_waste.Pages.Forms.RestaurantListModel
@{
}
<h2>Restaurants available</h2>


    <table class="table mt-5">
        <thead>
           <tr>
               <th scope="col">Restaurant name</th>
               <th scope="col">Restaurant adress</th
           </tr>
        </thead>
        @foreach (var restaurant in Model.restaurants)
    {
        <tr>
            <td>@restaurant.Name</td>
            <td>@restaurant.Adress</td>
        </tr>
    }
    </table>
